body {
  background: ivory;
}
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.br {
  display: block;
  margin-bottom: 1em;
}
/*?LIGHT MODE*/
.left-side {
  position: absolute;
  width: 12%;
  height: 100%;
  left: 0%;
  top: 0%;
  margin: 0%;
  padding: 0%;
  text-align: center;
  border-right: 2px solid grey;
}
.left-side-big {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0%;
  top: 0%;
  margin: 0%;
  padding: 0%;
  overflow: auto;
  z-index: 2;
  text-align: center;
  border-right: 2px solid grey;
}
.about-me {
  padding-left: 10%;
  padding-right: 10%;
}
#contact-small li {
  display: inline;
  width: fit-content;
  margin: 0 5% 0 5%;
}
#contact-small li:hover {
  cursor: pointer;
}
#contact-big li {
  display: inline;
  width: fit-content;
  margin: 0 10% 0 10%;
}
#contact-big li:hover {
  cursor: pointer;
}
.center {
  position: absolute;
  width: 75.9%;
  height: 100%;
  left: 0%;
  right: 0%;
  top: 0;
  margin: auto;
  padding: 0%;
  z-index: 1;
}
#project-div {
  position: absolute;
  right: 0px;
  width: 12%;
  height: 100%;
  top: 0%;
  background: #f9f3ec;
  border-left: 2px solid grey;
}
#project-array-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 5%;
  width: 90%;
  height: 90%;
  gap: 5%;
  top: 2.5%;
}
#project-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 95%;
  height: 100%;
  cursor: pointer;
  background: #6bc4b3;
  border-radius: 25px;
  max-height: 30%;
}
#project-list > p {
  width: 100%;
  text-align: center;
  z-index: 1;
}
#img-list {
  position: relative;
  width: 100%;
  border-radius: 10px 10px 0 0;
  align-self: center;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

#big-view-project {
  z-index: 2;
  position: absolute;
  width: 60%;
  height: 100%;
  right: 0%;
  top: 0%;
  background: #f9f3ec;
  overflow: auto;
  text-align: center;
  border-radius: 10px 0 0 10px;
}
#big-view-project-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  gap: 5%;
  height: 80%;
  margin: auto;
}
#big-project-list {
  width: 25%;
  height: 50%;
  margin: auto;
  border-radius: 11px 11px 50px 50px;
  border: 2px solid #6bc4b3;
  background: #6bc4b3;
  cursor: pointer;
}
#big-img-list {
  position: relative;
  width: 100%;
  align-self: center;
  height: 80%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

/*?DARK MODE*/
.dark-mode {
  background: #222831;
  color: #eeeeee;
}
.dark-left-side {
  background: #395b64;
}
.dark-center {
  background: transparent;
}
.dark-right-side {
  background: transparent;
}
#project-div-dark {
  position: absolute;
  right: 0%;
  top: 0%;
  width: 12%;
  height: 100%;
  background: #395b64;
  margin: 0%;
  padding: 0%;
}

#project-list-dark {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 95%;
  height: 100%;
  cursor: pointer;
  background: #393e46;
  border-radius: 25px;
  max-height: 30%;
}
#project-list-dark > p {
  width: 100%;
  text-align: center;
  z-index: 1;
}

#big-view-project-dark {
  z-index: 2;
  position: absolute;
  width: 60%;
  height: 98%;
  right: 0%;
  background: #395b64;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid #00000050;
  overflow: auto;
  text-align: center;
}
#big-view-project-list-dark {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  gap: 5%;
  height: 80%;
  margin: auto;
}
#big-project-list-dark {
  width: 25%;
  height: 50%;
  margin: auto;
  border-radius: 11px 11px 50px 50px;
  background: #393e46;
  cursor: pointer;
  border: 2px solid #222831;
}

/*?OTHER*/
#mode {
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 0%;
  margin: 10%;
}
.light {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;

  left: 0%;
  margin: auto;
  background: #ffffff60;
}
.light:hover {
  background-color: white;
  border: 1px solid #222831;
}

.dark {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  right: 0%;
  margin: auto;
  background: #ffffff50;
  padding: 10px;
}
.dark:hover {
  background-color: #222831;
  color: #eeeeee;
  border: 1px solid #00adb5;
}

#small-focus {
  height: 100%;
  width: 100%;
  background-color: ivory;
  margin: 0%;
  border: none;
  padding: 0%;
  top: 0%;
}
ul {
  list-style: none;
  font-weight: bolder;
  padding: 0;
}
#sub-list {
  font-size: small;
  font-weight: 500;
  list-style: none;
  list-style-position: outside;
}
.container-list {
  position: relative;
  width: 40%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
#bigger-button {
  position: absolute;
  right: 0%;
  top: 0%;
  margin: auto;
}
#bigger-button:hover {
  cursor: pointer;
}
#smaller-button {
  position: absolute;
  right: 0%;
  top: 0%;
  margin: auto;
}
#smaller-button:hover {
  cursor: pointer;
}

#project-big-button {
  position: absolute;
  left: 0%;
  top: 0%;
  margin: auto;
  transform: scaleX(-1);
}
#project-big-button:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #00000020;
}
::-webkit-scrollbar-thumb:hover {
  background: #5551;
}
@media screen and ((max-width: 1600px)) {
  .center {
    width: 50%;
    left: 29%;
  }
  .left-side {
    width: 20%;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #00000020;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #5551;
  }
}

#next-page-list {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0%;
  right: 1%;
  margin: auto;
}
#next-page-list:hover {
  cursor: pointer;
}
#previous-page-list {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0%;
  left: 1%;
  margin: auto;
}
#previous-page-list:hover {
  cursor: pointer;
}

/*!ANIMATION*/
#project-list:hover {
  -webkit-animation: scale-down-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-down-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

#project-list-dark:hover {
  -webkit-animation: scale-down-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-down-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.slide-right {
  -webkit-animation: slide-right 0.5s ease-in-out both;
  animation: slide-right 0.5s ease-in-out both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-70%);
    transform: translateX(-70%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-70%);
    transform: translateX(-70%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.slide-left {
  -webkit-animation: slide-left 0.5s ease-in-out both;
  animation: slide-left 0.5s ease-in-out both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(70%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(70%);
    transform: translateX(70%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/*?Responsive design*/
@media screen and ((max-width: 1600px)) {
  .center {
    width: 50%;
    left: 0;
    right: 0;
    margin: auto;
  }
  .left-side {
    width: 20%;
  }
  #project-div {
    width: 20%;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #00000020;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #5551;
  }
}

@media screen and (max-height: 1200px) and (max-width: 900px) {
  .left-side {
    top: 0%;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 25%;
    border-radius: 0%;
  }
  #copy {
    bottom: 0;
  }
  .center {
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 60%;
    width: 100%;
    border-radius: 0;
  }
  #project-div {
    bottom: 0;
    left: 0;
    right: 0;
    height: 15%;
    width: 100%;
    border-radius: 0%;
  }
  #project-array-background {
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 5%;
    font-size: 80%;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  #project-list {
    flex-direction: row;
    width: 100%;
    height: min-content;
    border-radius: 10px;
  }
  #img-list {
    height: 0;
    width: 0;
  }
  #project-div-dark {
    top: 100%;
    bottom: 0%;
    left: 0;
    right: 0;
    height: 30%;
    width: 100%;
    margin: auto;
    border-radius: 0%;
    border: 0;
  }
  #project-list-dark {
    flex-direction: row;
    width: 100%;
    height: fit-content;
    border-radius: 15px;
  }

  /*?Big view*/
  .left-side-big {
    width: 100%;
    height: 100%;
    top: 0%;
    border-radius: 0;
  }
  #big-view-project {
    top: 0;
    height: 100%;
    width: 100%;
  }
  #big-project-list {
    width: 40%;
    height: 40%;
    border-radius: 10px;
  }
  #big-project-list > p {
    margin: auto;
  }
  #big-img-list {
    border-radius: 10px 10px 0 0;
  }
  #big-view-project-dark {
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 0;
  }
  #big-project-list-dark {
    width: 40%;
    height: 40%;
    border-radius: 10px;
  }
  #big-project-list-dark > p {
    margin: auto;
  }

  /*?Mobile animation*/
  .slide-right {
    -webkit-animation: slide-right 0.5s ease-in-out both;
    animation: slide-right 0.5s ease-in-out both;
  }
  @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateY(-70%);
      transform: translateY(-70%);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateY(-70%);
      transform: translateY(-70%);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  .slide-left {
    -webkit-animation: slide-left 0.5s ease-in-out both;
    animation: slide-left 0.5s ease-in-out both;
  }

  @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateY(70%);
      transform: translateY(70%);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateY(70%);
      transform: translateY(70%);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  /*?Other*/
  ::-webkit-scrollbar {
    width: 0px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #00000020;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #5551;
  }
}
